anthropic==0.55.0
fastapi==0.115.14
loguru==0.7.3
litellm==1.77.0
mcp==1.9.4
mcp-neo4j-cypher==0.2.3
neo4j==5.28.1
neo4j-graphrag==1.7.0
numpy==2.2.6
openai==1.99.5
openml==0.15.1
pandas==2.3.0
pillow==11.2.1
psycopg2-binary==2.9.10
rdflib==7.1.4
rdflib-neo4j==1.1
requests==2.32.4
SQLAlchemy==2.0.41
uv==0.7.14
uvicorn==0.34.3
